DATABASE_URL=
USE_DATABASE_CATALOG=

ADMIN_SEED_EMAIL=
ADMIN_SEED_PASSWORD=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=

COUPONS_FROM_DATABASE=

PATHAO_API_BASE_URL=
PATHAO_CLIENT_ID=
PATHAO_CLIENT_SECRET=
PATHAO_USERNAME=
PATHAO_PASSWORD=
PATHAO_STORE_ID=